body {
    margin: 0;
    padding: 0;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aaa;
    height: 60px;
    width: 100%;
}

.header-menu,
.header-user {
    padding: 0;
    margin: 0 100px;
}

.header-menu__item,
.header-user__item {
    display: inline-block;
    margin: 0 12px;
}

.content{
    height: 1000px;
}












.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aaa;
    height: 120px;
    width: 100%;
}

.footer__info,
.footer__address {
    padding: 0;
    margin: 0 100px;
    list-style-type: none;
}

.footer-address-title {
    margin: 0;
    padding: 0;
}